h1{
  color: black;  
}

.jumbotron{
    background-color:maroon;
}

.btn{
    background-color: cyan;
    color: darkblue;
}

table{
    border-style: solid;
}

.container{
    background-color: orange;
}

ul {
    display: inline-block
}

tr:nth-child(even){
    background-color: palegreen;
    color: black
}

tr:nth-child(odd){
    background-color: plum;
    color:  black

/* keyframe animations which will be used to animate the title */
@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 7.5rem;
    opacity: 1;
  }
}

@keyframes smaller-title {
  from {
    opacity: 0;
  }

  to {
    font-size: 5.5rem;
    opacity: 1;
  }
}

@keyframes subtitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
